{include file="../common/header.html"}
<!--      <table border="1">
      <tr>
         <td>管理员名称</td>
         <td>管理员状态</td>
        <td>管理员组</td>
         <td>操作</td>
      </tr>
      
      {foreach from=$list item=admin}
     <tr>
         <td>{$admin.user_name}</td>
         <td><a href=""  onclick="disab({$admin.status},{$admin.id})"> {if $admin.status eq 1}禁用 {else}激活{/if} </a></td>
         <td>{$admin.gname}</td>
         <td><a href="admin.php?act=add&id={$admin.id}">修改</a>   <a href="admin.php?act=delete&id={$admin.id}">删除</a></td>
    {/foreach}
      </tr>
     

</table>-->
<body>

   <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="admin_gourp.php?act=add"> 添加管理员组</a> </li>
       
    
      
      

      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <td>管理员名称</td>
         <td>管理员状态</td>
        <td>管理员组</td>
         <td>操作</td>
       
      </tr>
 
      
      <volist name="list" id="vo">
       {foreach from=$list item=admin}
     <tr>
         <td>{$admin.user_name}</td>
         <td><a href=""  onclick="disab({$admin.status},{$admin.id})"> {if $admin.status eq 1}禁用 {else}激活{/if} </a></td>
         <td>{$admin.gname}</td>
         <td><div class="button-group"> <a class="button border-main" href="admin.php?act=add&id={$admin.id}"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="admin.php?act=delete&id={$admin.id}" onclick="return del(1,1,1)"><span class="icon-trash-o"></span> 删除</a> </div></td>
    {/foreach}
      <tr>
        <td colspan="8"><div class="pagelist"> <a href="">上一页</a> <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a> </div></td>
      </tr>
    </table>
  </div>

<script type="text/javascript">
 function disab(num,id){
	 var num = parseInt(num);
	 var id = parseInt(id);
	 if(id == 1 ){
		 alert('不能禁用后台管理员');
     	return false;
	 }
	 if(num == 1 ){
		  $.get("admin.php?act=status&status=2&id="+id,null,'text');
	 }else{
		  $.get("admin.php?act=status&status=1&id="+id,null,'text');
	 }
 }

//搜索
function changesearch(){	
		
}

//单个删除
function del(id,mid,iscid){
	if(confirm("您确定要删除吗?")){
		return true;
		
	}else{
		return false; 
		}
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}

//批量复制
function changecopy(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		var i = 0;
	    $("input[name='id[]']").each(function(){
	  		if (this.checked==true) {
				i++;
			}		
	    });
		if(i>1){ 
	    	alert("只能选择一条信息!");
			$(o).find("option:first").prop("selected","selected");
		}else{
		
			$("#listform").submit();		
		}	
	}
	else{
		alert("请选择要复制的内容!");
		$(o).find("option:first").prop("selected","selected");
		return false;
	}
}

</script>
</body>
</html>