<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<script language="javascript" src="../static/js/jquery-3.1.1.js">
</script>
<body>

<table>
    
 <form action="admin.php?act=add&id={$smarty.get.id}" method="post" enctype="multipart/form-data">
   
     <tr><td>管理员名称</td><td><input type="text" name="user_name"  value="{$admin.user_name}"></td></tr>
    
    <tr><td>管理员组</td>
        <td><select name="gname" id="" >
                   <option value="">请选择</option>
                   {$option}
           
            </select>
        
        </td>
    </tr>
      
      <tr><td>新密码</td><td><input type="password" name="pass_word1"  value="{$admin.pass_word}" ></td></tr>
      <tr><td>确认密码</td><td><input type="password" name="pass_word2" value="{$admin.pass_word}"></td></tr>
      
       

   
    
  
        <tr><td><input type="submit" value="确定"></td></tr>
    
</form>
</table>



</body>

</html>