{include file="../common/header.html"}
<!--      <table border="1">
      <tr>
         <td>广告名称</td>
         <td>广告位置</td>
         <td>广告类型</td>
         <td>操作</td>
      </tr>
      
      {foreach from=$list item=one}
     <tr>
         <td>{$one.aname}</td>
         <td>{$one.pname}</td>
         <td>{$one.type}</td>
         <td><a href="ads.php?act=add&id={$one.id}&type={$one.type}&pid={$one.pid}">修改</a>   <a href="ads.php?act=delete&id={$one.id}">删除</a></td>
    {/foreach}
      </tr>
     

</table>-->
<body>

  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
       
      </ul>
    </div>
 
    <table class="table table-hover text-center">
      <tr>
         <td>广告名称</td>
         <td>广告位置</td>
         <td>广告类型</td>
         <td>操作</td>
      </tr>
     <!-- <volist name="list" id="vo">-->
       {foreach from=$list item=adsvsadsp} 
        <tr>
         <td>{$adsvsadsp.aname}</td>
         <td>{$adsvsadsp.pname}</td>
         {if $adsvsadsp.type eq 1}
         <td>图片广告</td>
         {elseif $adsvsadsp.type eq 2}
          <td>文字广告</td>
         {else}
            <td>其他广告</td>
         {/if}
          <td><div class="button-group">
           <a class="button border-main" href="ads.php?act=add&id={$adsvsadsp.adsid}&type={$adsvsadsp.type}&pid={$adsvsadsp.ads_pid}"><span class="icon-edit"></span> 修改</a>
           <a class="button border-red" href="ads.php?act=delete&id={$adsvsadsp.adsid}" onclick="return del(1,1,1)" ><span class="icon-trash-o"></span> 删除</a> </div>
          </td>
        {/foreach}  
        </tr>
      <tr>
        <td colspan="8"><div class="pagelist"> {$showhtml} </div></td>
      </tr>
    </table>
  </div>

<script type="text/javascript">

//搜索
function changesearch(){	
		
}

//单个删除
function del(id,mid,iscid){
	if(confirm("您确定要删除吗?")){
		return true;
	}else{
		return false;
		}
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

//批量删除
function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

//批量排序
function sorts(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		return false;
	}
}


//批量首页显示
function changeishome(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}

//批量推荐
function changeisvouch(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");	
		
		return false;
	}
}

//批量置顶
function changeistop(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();	
	}
	else{
		alert("请选择要操作的内容!");		
	
		return false;
	}
}


//批量移动
function changecate(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){		
		
		$("#listform").submit();		
	}
	else{
		alert("请选择要操作的内容!");
		
		return false;
	}
}

//批量复制
function changecopy(o){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){	
		var i = 0;
	    $("input[name='id[]']").each(function(){
	  		if (this.checked==true) {
				i++;
			}		
	    });
		if(i>1){ 
	    	alert("只能选择一条信息!");
			$(o).find("option:first").prop("selected","selected");
		}else{
		
			$("#listform").submit();		
		}	
	}
	else{
		alert("请选择要复制的内容!");
		$(o).find("option:first").prop("selected","selected");
		return false;
	}
}

</script>
</body>
</html>