<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理-添加广告</title>
</head>
<script language="javascript" src="../static/js/jquery-3.1.1.js">
</script>
<body>

<h1><a href='index.php' id='index'>首页</a></h1>
<h3>  <a href=" ads.php?act=list">广告位置列表</a><br></h3>
<table>
    
 <form action="ads.php?act=add&id={$smarty.get.id}" method="post" enctype="multipart/form-data">
    <tr> <td>广告名称</td> <td><input type="text" name="aname" id="aname" value={$ads.aname}></td></tr>
    
    <tr><td>媒介类型</td>
        <td><select name="type" id="type" onChange="changes(this.value)">
                   <option value="">请选择</option>
                    {$types}
           
            </select>
        
        </td>
    </tr>
        <tr><td>广告位置</td>
        <td><select name="pid" id="pid">
                  	<option value="">请选择</option>
                    {$get_all_option_p}
           
            </select>
        </td>
       </tr>
       
    <tr><td>广告链接到的地址</td><td><input type="text" name="href" id="href" value="{$ads.href}"></td></tr>
   
     
    <tr id="picId" style="display:none"> <td>上传图片</td> <td><input type="file" name='pic'></td></tr>
   
    <tr id="textId" style="display:none"> <td>广告内容</td> <td> <textarea name="text" id="" cols="30" rows="10" >{$ads.text}</textarea></td></tr>
  
    <tr><td><input type="submit" value="确定"></td></tr>
    
</form>
</table>

</body>

<script>
function changes(id){
	if(id == ""){
		return false;	
	}
	var picId = $("#picId");	
	var textId = $("#textId");
	id = parseInt(id);

	if(id == 1){
		picId.show();
		textId.hide();	
	}else if(id > 1){
		picId.hide();
		textId.show();	
	}
}


</script>
</html>