{include file="../common/header.html"}
<!--
    	<form action="news_class.php?act=add&id={$id}"  method="post">
        <select id="pid" name="pid">
        	<option value="0">顶级分类</option>
            {$optinos}
        </select>
		<input type="text" value="{$rs.cname}" name="class_name" >
		<input type="submit" value="提交" name="sub">	
	    </form>-->
     	
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="ads_position.php?act=add&id={$smarty.get.id}">  
      <div class="form-group">
        <div class="label">
          <label>广告位置名称：</label>
        </div>
        <div class="field">
          <input type="text" value="{$ads_position.pname}" name="pname" class="input w50"  data-validate="required:请输入广告位置名" />
          <div class="tips"></div>
        </div>
      </div>
     
   
        
       
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>

</body></html>
