<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>
<script language="javascript" src="../static/js/jquery-3.1.1.js">
</script>
<body>

	<a href='index.php'>首页</a>
     <h2><a href='demo.php?act=list'>显示测试</a></h2>
    
  

  <table border="1">
	 
	<form action="demo.php?act=add&goods_id={$smarty.get.goods_id}" method="post" enctype="multipart/form-data">
	    <input type="hidden" name='seq' id='seq' value='1'>	
    	{if $smarty.get.goods_id gt 0}
   
         {$html}
        {else}
        <tr id="first_add">
			<td><a href="javascript:;">添加测试:<input type="file" name="img_position[]" ></a></td>
		</tr>
		{/if}
        <tr>
			<td><input type="submit" ></td>
		</tr>
	

	</form>

</table>

  
  

 
</body>
{literal}
<script>
    
   
	$('#first_add').click(function(){
		
	    var seq = parseInt($('#seq').val()) + 1;
		 var html = '<tr class="class'+seq+'"><td><a href="javascript:;" onclick=remove('+seq+');></a>减去:<input type="file" name="img_position[]" ></td></tr>';
		$('#seq').val(seq); 
		$('#first_add').after(html)
	})
	function remove(seq,id){
		$('.class'+seq).remove();
		var seq = parseInt($('#seq').val()) - 1
	    $('#seq').val(seq); 
	}
	
	

</script>
</html>
{/literal}