<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1><a href='index.php'>回到首页</a></h1>
<h1><a href="goods_classify.php?act=list">产品列表</a></h1>
<form action="goods_classify.php?act=add&id={$id}" method="post">
  
  <select  id="" name='pid'>
      <option value="0">顶级分类</option>
      {$option}
  </select>
  产品名称 <input type="text" name="cname" value={$cname}>
  <input type="submit" value="添加产品">
</form>

</body>
</html>