<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台-首页</title>
</head>
<script language="javascript" src="../static/js/jquery-3.1.1.js">
</script>
<body>

   <h2><a href="index.php?act=login_out">退出</a></h2>

   <h2><a href="index.php?act=login_out">退出</a></h2>
<h1><a href='index.php' id='index'>首页</a></h1>
     <h2><a href="index.php?act=login_out">退出</a></h2>
   
     <h3><a href="demo.php">测试页面</a></h3>


     <a href="china_classify.php">中国分类</a><br>
	<a href="news_class.php">新闻分类管理</a>
    <br>
    <a href="goods_brand.php">品牌管理</a><br>
     <a href="goods_classify.php">商品分类管理</a><br>
      <a href="goods.php?act=add">添加商品</a><br>
      <a href="goods.php?act=list">商品列表</a><br>
      <a href="news.php?act=add">添加新闻</a><br>
      <a href="news.php?act=list">新闻列表</a><br>
       <a href="web_focus.php?act=list">图片轮播</a><br>
       <a href=" ads_position.php?act=list">广告位置列表</a><br>
       <a href=" ads_position.php?act=add">添加广告位置</a><br>
       
       <a href=" ads.php?act=list">广告列表</a><br>
       <a href=" ads.php?act=add">添加广告</a><br>
 
        <a href=" goods_gallery.php?act=list">商品相册列表</a><br>
       <a href=" goods_gallery?act=add">添加商品图片</a><br>
          <a href='goods_demo.php?act=list'>显示图片</a><br>
          <a href='goods_demo.php?act=add'>添加图片</a><br>
          
          <a href='goods_demo.php?act=add'>添加图片</a><br>
           <a href=" admin_gourp.php?act=add">管理员组添加</a><br>
            <a href=" admin_gourp.php?act=list">管理员组列表</a><br>
  

    
    <table>
    {$html}
    </table>
 
    
</body>
<script>

function disp(this){
	this.style.display="block"; 
}


</script>
</html>